.about{
    position: static;
    background:#ffffff;
    height: 625px;
}
.title2{
    position: relative;
    /* top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    
}

.about1{
    width: 600px;
    height: auto;
    background: #91efff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4);
    /* margin: 5rem; */
    margin-left: 400px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}
span{
    font-weight: bolder;
}